# To switch between local and remote Ollama, update the "OLLAMA_MODEL" and "OLLAMA_BASE_URL" values in the 
# "environment" section of docker-compose.yml to point to either the local or SSH variables above.

# BY DEFAULT, it is set on SSH_ version

# Ollama local
OLLAMA_MODEL=llama3  # put your model
OLLAMA_BASE_URL=http://host.docker.internal:11434 

# Ollama on SSH (LLM local on a remote machine)
SSH_OLLAMA_MODEL=llama3  # put your model
SSH_OLLAMA_BASE_URL=http://REMOTE_MACHINE_IP_ADDRESS:11434 # put the IP of your remote machine to access its Ollama

# Telegram bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id